@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_priorities {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1em;
  @include media(laptop) {
    margin: 0 2em;
  }
  @include media(desktop) {
    width: 1400px;
  }
  .title_priorities {
    font-size: 1.8em;
    font-family: "Montserrat";
    font-weight: 800;
    color: $primary;
    text-align: center;
    margin-top: 1em;
    span {
      color: $primary;
    }
  }
  .box_priorities {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    .box_side_left {
      display: flex;
      align-items: center;
      flex-direction: column;
      @include media(laptop) {
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
      }
      .box_priority {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1em;
        @include media(tablet) {
          width: 80%;
        }
        @include media(minilaptop) {
          margin: 1em;
          width: 100%;
        }
        @include media(laptop) {
          align-items: flex-start;
          flex-direction: row;
        }
        img {
          @include media(laptop) {
            height: 50px;
          }
        }
        .box_priority_description {
          margin-top: 1em;
          @include media(laptop) {
            margin-left: 1em;
          }
          .subtitle_priority {
            font-family: "Montserrat";
            font-weight: 800;
            font-size: 1.3em;
            color: $basic-dark;
            text-align: center;
            @include media(laptop) {
              font-size: 1em;
              text-align: left;
            }
          }
          .paragraph_priority {
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 1em;
            color: $basic-dark;
            margin-top: 1em;
            text-align: center;
            line-height: 2.2em;
            @include media(laptop) {
              font-size: 0.8em;
              text-align: left;
            }
          }
        }
      }
    }
    .box_side_right {
      display: flex;
      align-items: center;
      flex-direction: column;
      @include media(laptop) {
        align-items: flex-start;
        flex-direction: row;
        justify-content: center;
      }
      .box_priority {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1em 1em;
        @include media(tablet) {
          width: 80%;
        }
        @include media(laptop) {
          align-items: flex-start;
          flex-direction: row;
        }
        img {
          @include media(laptop) {
            height: 50px;
          }
        }
        .box_priority_description {
          margin-top: 1em;
          @include media(laptop) {
            margin-left: 1em;
          }
          .subtitle_priority {
            font-family: "Montserrat";
            font-weight: 800;
            font-size: 1.3em;
            color: $basic-dark;
            text-align: center;
            @include media(laptop) {
              font-size: 1em;
              text-align: left;
            }
          }
          .paragraph_priority {
            font-family: "Montserrat";
            font-weight: 400;
            font-size: 1em;
            color: $basic-dark;
            margin-top: 1em;
            text-align: center;
            line-height: 2.2em;
            @include media(laptop) {
              font-size: 0.8em;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
