.container_form_wizard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
