/* ******** PRIMARY & SECONDARY COLORS ******** */

$primary: #308eca;
$primary-dark: #056db3;

/* ******** BASIC COLORS ******** */

$basic-light: #ffffff;
$basic-dark: #373737;

/* ******** EVENT COLORS ******** */
$success: #4ec677;
$error: #f2453e;
$disabled: #eaeaea;

/* ******** BREADCRUMB COLORS ******** */

// $focused: #
