@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.carousel {
  margin: 0 20px 50px 20px;
  @include media(tablet) {
    margin: 0 50px 50px 50px;
  }
  @include media(laptop) {
    margin: 0 120px 50px 120px;
  }
  @include media(minilaptop) {
    margin: 0 90px 50px 90px;
  }
  @include media(desktop) {
    width: 1200px;
  }
  .slick-next,
  .slick-prev {
    font-size: 0;
    line-height: 0;
    top: 50%;
    width: 20px;
    height: 20px;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: black;
    background: white;
    border: none;
    outline: none;
    opacity: 0;
    @include media(tablet) {
      opacity: 1;
      right: -25px;
    }
  }
  .slick-prev:before {
    content: "\003008";
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: $primary;
    display: none;
    @include media(tablet) {
      display: flex;
    }
  }
  .slick-next:before {
    content: "\003009";
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: $primary;
    display: none;
    @include media(tablet) {
      display: flex;
    }
  }
  .items {
    .container_images {
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      @include media(tablet) {
        margin: 0 5px;
      }
      .title_item {
        font-size: 1.5em;
        font-family: "Montserrat";
        font-weight: 800;
        color: white;
        margin: 0 15px 15px 0;
        text-align: right;
      }
    }
  }
}
