@import "../../../sass/mixins.scss";
@import "../../../sass/brands_fonts.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .box_steps {
    display: flex;
    .box_step {
      display: flex;
      align-items: center;
      .step {
        color: white;
        font-size: 12px;
        font-family: $brand-font-secondary;
        font-weight: 800;
        letter-spacing: 0.1em;
        @include media(miniphone) {
          font-size: 0.6em;
        }
        @include media(tablet) {
          font-size: 1em;
        }
        @include media(laptop) {
          font-size: 0.9em;
        }
      }
      .not_focused {
        color: rgba(255, 255, 255, 0.692);
      }
      .icon {
        height: 1em;
      }
    }
  }
}
