@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_login {
  background: url("./../../../assets/illustrations/walpaper_connexion_ANF.png")
    no-repeat center / cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .box_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.247);
    background-color: #fff;
    border-radius: 5px;
    width: 350px;
    margin: 50px 0;
    padding: 30px 10px;

    @include media(miniphone) {
      width: 300px;
    }

    form {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .logo_anf {
        height: 30px;
        margin-bottom: 30px;
      }

      .sub_title {
        font-weight: 600;
        margin-bottom: 30px;
        color: $primary;
        font-family: "Montserrat";
        font-size: 1em;
        text-align: center;
        width: 90%;

        @include media(miniphone) {
          font-size: 0.8em;
        }
      }

      input {
        border: 1px solid $primary;
        font-size: 1em;

        &:last-of-type {
          margin-top: 10px;
        }

        &::placeholder {
          font-size: 1em;
        }
      }

      .reset_password {
        font-family: "Montserrat";
        font-weight: 600;
        color: $primary;
        font-size: 0.9em;
        cursor: pointer;
        margin-bottom: 20px;
        width: 90%;
        text-align: left;

        @include media(miniphone) {
          font-size: 0.8em;
        }

        &:hover {
          text-decoration: underline;
        }
      }
      button {
        font-size: 1em;
      }
    }
  }
}
