@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.container_global {
  .container_blue {
    background-color: $primary;
    height: 70px;
    width: 100%;
    @include media(desktop) {
      width: 1400px;
    }
  }
  .container_form {
    background-image: url("../../../assets/illustrations/donations-bar.png");
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(minilaptop) {
      padding: 0;
      justify-content: space-around;
    }
    @include media(laptop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: left;
      height: 380px;
      padding: 1em;
    }
    @include media(desktop) {
      width: 1400px;
    }
    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      @include media(minilaptop) {
        width: 50%;
      }
      @include media(laptop) {
        width: 40%;
      }
      h3 {
        font-family: "Montserrat";
        font-weight: 700;
        color: white;
        font-size: 1.7em;
        width: 60%;
        line-height: 1.8;
        text-align: center;
        @include media(miniphone) {
          width: 70%;
        }
        @include media(tablet) {
          width: 70%;
          letter-spacing: 10px;
          text-align: center;
          padding: 0.8em;
        }
        @include media(minilaptop) {
          font-size: 1em;
          text-align: left;
        }
        @include media(laptop) {
          width: 80%;
          font-size: 2.4em;
          text-align: left;
        }
        span {
          padding: 2px 10px;
          @include media(minilaptop) {
            font-size: 1em;
          }
        }
      }
    }
    .box_dons {
      @include media(laptop) {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .all_inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media(laptop) {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          width: 90%;
          margin-bottom: 14px;
        }
        .donation_label {
          background: white;
          color: rgba(128, 128, 128, 0.432);
          border: none;
          border-radius: 30px;
          cursor: pointer;
          font-family: "Montserrat";
          font-weight: 600;
          font-size: 1.3em;
          min-width: 100px;
          min-height: 50px;
          margin: 10px 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          @include media(laptop) {
            min-width: 100px;
          }
          @include media(minilaptop) {
            min-width: 70px;
          }
        }
        .lighted {
          color: white;
          background: $primary-dark;
        }
      }
      .box_input_other_amount {
        margin-top: 10px;
        @include media(laptop) {
          width: 80%;
        }
        Input {
          font-size: 1.3em;
          padding-left: 20px;
          padding-right: 57px;
          background-position: calc(100% - 12px) 25%;
          @include media(laptop) {
            margin-bottom: 20px;
          }
        }
        .success-blue-border {
          border: 2px solid $primary-dark;
        }
      }
      Button {
        font-size: 1.1em;
        margin: 2em 0;
        @include media(tablet) {
          margin-bottom: 2em;
        }
        @include media(laptop) {
          margin: 0;
          max-width: 80%;
        }
      }
    }
  }
}
