@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";
@import "./../../../sass/brands_fonts.scss";

.container_responsive {
  .container_additem {
    height: 100%;
    width: 100%;
    background: url("../../../assets/illustrations/background_additem.png")
      no-repeat center / cover;
    text-align: center;
    @include media(desktop) {
      width: 1400px;
    }
    nav {
      height: 60px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media(laptop) {
        flex-direction: row;
        padding: 4em;
      }
      @include media(minilaptop) {
        flex-direction: column;
      }
      .box_logo {
        .logo_white {
          height: 35px;
          @include media(laptop) {
            height: 40px;
          }
          @include media(minilaptop) {
            height: 35px;
          }
        }
      }

      .box_breadcrumb {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
      }
    }
    .sub_container {
      height: 100%;
      display: flex;
      flex-direction: column;

      @include media(laptop) {
        flex-direction: row;
        padding: 2em;
      }
      @include media(minilaptop) {
        flex-direction: column;
      }

      .box_text_action {
        height: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media(laptop) {
          width: 50%;
          padding: 0 2em;
          flex-direction: column;
          text-align: left;
          margin-top: 3em;
        }

        @include media(minilaptop) {
          padding: 0 2em;
          width: 100%;
          text-align: center;
        }
        p {
          line-height: 1.8em;
          @include media(laptop) {
            width: 100%;
          }
          @include media(minilaptop) {
            width: 100%;
          }
        }
      }
      .box_form_additem {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        @include media(laptop) {
          width: 50%;
          flex-direction: column;
        }
        @include media(minilaptop) {
          width: 100%;
        }
        form {
          width: 400px;
          border-radius: 1rem;
          .box_input_label {
            display: flex;
            align-items: center;
            justify-content: center;
            .input_file_label {
              height: 80px;
              width: 80px;
              background-color: $primary;
              border-radius: 50%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              padding-top: 15px;
              p {
                text-align: center;
                font-size: 2.5em;
                color: white;
                font-weight: 900;
                &:hover {
                  transform: scale(1.2);
                }
              }
            }
            .input_file {
              height: 0px;
              width: 0px;
              opacity: 0;
              cursor: pointer;
            }
          }
          input::placeholder,
          textarea {
            font-size: 1em;
          }
          textarea {
            height: 90px;
            width: 100%;
            background-position: calc(100% - 12px) 0.8em;
            background-size: 20px;
            background-repeat: no-repeat;
            border: 1px solid rgba(189, 189, 189, 0.692);
            border-radius: 5px;
            margin-top: 6px;
            padding: 0.5em 0.8em;
            font-weight: 600;
            font-family: $brand-font-secondary;
            resize: none;
            &::placeholder {
              color: rgba(128, 128, 128, 0.432);
            }
          }
        }
      }
    }
  }
}
