@import "../../../sass/mixins.scss";
@import "../../../sass/parts/colors";

.container_reset_password {
  height: 100%;
  padding: 2em 0;
  background-color: #fff;
  @include media(desktop) {
    width: 1400px;
    margin: auto;
  }
  .box_reset_password {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    @include media(tablet) {
      padding: 2em;
    }
    @include media(laptop) {
      padding: 3em;
    }
    @include media(minilaptop) {
      padding: 3em;
    }
    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: start;
      align-items: flex-start;
      justify-content: center;
      background-color: #fff;
      padding: 2em;
      box-shadow: 0 9px 40px rgba(0, 0, 0, 0.137);
      @include media(tablet) {
        width: 80%;
      }
      @include media(laptop) {
        width: 700px;
      }
      @include media(minilaptop) {
        width: 700px;
      }
      h1 {
        font-family: "Montserrat";
        font-weight: 800;
        font-size: 1.6em;
        color: $primary;
        width: 100%;
        span {
          color: $primary;
        }
        @include media(miniphone) {
          font-size: 1.3em;
        }
      }
      p {
        font-family: "Montserrat";
        color: #9595ca;
        font-weight: 600;
        margin: 1em 0;
        font-size: 1em;
        line-height: 1.4em;
        @include media(miniphone) {
          font-size: 0.8em;
        }
      }
      input {
        height: 55px;
        width: 100%;
        padding: 0 1em;
        border: 1px solid rgba(189, 189, 189, 0.692);
        border-radius: 6px;
        font-size: 0.9em;
        color: $primary;
        font-weight: 900;
        margin: 1em 0;
        @include media(miniphone) {
          font-size: 0.7em;
        }
        @include media(tablet) {
          font-size: 1em;
        }
        @include media(laptop) {
          font-size: 1em;
        }
        @include media(minilaptop) {
          font-size: 1em;
        }
      }

      input.initial {
        border: 1px solid rgba(189, 189, 189, 0.692);
      }
      input.error {
        border: 2px solid $primary;
      }
      input.valide {
        border: 2px solid $primary;
      }
      input::placeholder {
        color: rgba(158, 158, 158, 0.521);
        font-weight: 600;
      }

      .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border: none;
        font-family: "Montserrat";
        font-size: 1em;
        font-weight: 700;
        width: 100%;
        height: 50px;
        margin: 0.5em 0;
        img {
          height: 17px;
          margin-left: 1em;
        }
      }
      .btn_disabled {
        cursor: not-allowed;
      }
      .btn_next {
        background-color: $primary;
        color: white;
        cursor: pointer;
        &:hover {
          background: $primary-dark;
          transition: 2s;
        }
      }
    }
  }
}
