@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_global_contact {
  background: $primary;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(tablet) {
    height: 525px;
  }
  @include media(desktop) {
    width: 1400px;
  }
  .box_contact {
    background-image: url("../../../assets/illustrations/background_contact.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80%;
    width: 100%;
    .container_map {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 20px 0;
      text-align: center;
      @include media(laptop) {
        flex-direction: row;
        justify-content: space-around;
        text-align: right;
        margin: 0;
      }
      .map {
        width: 90%;
        height: 50%;
        border: 10px solid rgba($color: #ffffff, $alpha: 0.4);
        @include media(tablet) {
          width: 60%;
        }
        @include media(laptop) {
          width: 40%;
          height: 80%;
        }
      }
      .content {
        @include media(laptop) {
          width: 40%;
          display: flex;
          align-items: flex-end;
        }
        .title_contact {
          color: white;
          padding: 5px;
          font-size: 1.2em;
          font-family: Montserrat;
          font-weight: 700;
          margin-bottom: 10px;

          @include media(laptop) {
            font-size: 1.8em;
            letter-spacing: 13px;
            margin-bottom: 20px;
            text-align: right;
          }
          @include media(minilaptop) {
            letter-spacing: 10px;
            font-size: 1.4em;
            margin-bottom: 40px;
          }
        }
        .red_line {
          width: 100%;
          height: 5px;
          border-radius: 10px;
          margin-bottom: 15px;
          @include media(miniphone) {
            width: 95%;
          }
          @include media(laptop) {
            width: 95%;
            margin-bottom: 25px;
          }
        }
        .adress {
          @include media(laptop) {
            width: 95%;
          }
          p {
            color: white;
            font-family: Montserrat;
            font-weight: 600;
            margin-bottom: 15px;
            @include media(laptop) {
              font-size: 1.3em;
              margin-bottom: 25px;
            }
            @include media(minilaptop) {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}
