@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_responsive {
  display: flex;
  justify-content: center;
  .container_donation {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/illustrations/background_boat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    @include media(desktop) {
      width: 1400px;
    }
    nav {
      height: 60px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media(laptop) {
        flex-direction: row;
        padding: 4em;
      }
      @include media(minilaptop) {
        flex-direction: column;
      }
      .box_logo {
        .logo_white {
          height: 35px;
          @include media(laptop) {
            height: 40px;
          }
          @include media(minilaptop) {
            height: 35px;
          }
        }
      }

      .box_breadcrumb {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
      }
    }
    .sub_container {
      height: 100%;
      display: flex;
      flex-direction: column;

      @include media(laptop) {
        flex-direction: row;
        padding: 2em;
      }
      @include media(minilaptop) {
        flex-direction: column;
      }

      .box_text_action {
        height: 100%;
        padding: 1em;
        margin-bottom: 4em;
        @include media(laptop) {
          width: 50%;
          padding: 0 2em;
          text-align: left;
          margin-top: 3em;
          margin-bottom: 0em;
        }
        @include media(minilaptop) {
          margin-bottom: 4em;
          padding: 0 2em;
          width: 100%;
          text-align: center;
        }
        p {
          line-height: 1.8em;
          @include media(laptop) {
            width: 100%;
          }
          @include media(minilaptop) {
            width: 100%;
          }
        }

        .download_join {
          font-family: Montserrat;
          font-weight: 300;
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-underline-offset: 0.2em;
          text-align: center;
          cursor: pointer;
          margin: 1.5em 0;
          @include media(tablet) {
            font-size: 1.1em;
            width: 100%;
          }
          @include media(laptop) {
            font-size: 0.9em;
            text-align: left;
          }
          @include media(miniphone) {
            font-size: 0.9em;
          }
          img {
            margin: 10.5px 8px 0 0;
            width: 22px;
            height: 22px;

            @include media(miniphone) {
              margin: -16px 1px 0 0;
              width: 15px;
              height: 15px;
            }
            @include media(smartphone) {
              margin: -16px 1px 0 0;
              width: 20px;
              height: 20px;
            }
          }
        }
        .download_donation {
          display: flex;
          align-items: center;
          margin: 20px 0 0 0;
          color: $basic-light;
          font-family: Montserrat;
          font-weight: 300;
          text-decoration: underline;
          text-decoration-thickness: 2px;
          text-underline-offset: 0.2em;
          cursor: pointer;
          @include media(tablet) {
            font-size: 1.1em;
            width: 100%;
          }
          @include media(laptop) {
            text-align: left;
          }
          @include media(miniphone) {
            font-size: 0.9em;
          }
          img {
            margin: 10.5px 8px 0 0;
            width: 22px;
            height: 22px;

            @include media(miniphone) {
              margin: -16px 1px 0 0;
              width: 15px;
              height: 15px;
            }
            @include media(smartphone) {
              margin: -16px 1px 0 0;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
