@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .card-element {
    width: 100%;
    margin-bottom: 10px;
    font-family: Montserrat;
    font-weight: 500;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 3px;
  }

  .StripeElement {
    padding: 20px 10px 20px 10px;
  }

  .form-separator {
    width: 100%;
    color: rgb(221, 221, 221);
    border: 1px solid rgba(202, 202, 202, 0.329);
    margin: 25px 0 25px 0;
  }
  .background_img {
    background-image: url("../../../assets/illustrations/arc-de-triomphe-flooted.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include media(miniphone) {
    }
    @include media(tablet) {
      padding: 30px 130px;
    }
    @include media(laptop) {
      text-align: left;
      align-items: flex-start;
    }
    @include media(minilaptop) {
      text-align: center;
      padding: 30px 0;
      align-items: center;
    }
    .box_logo {
      margin-bottom: 25px;
      .logo_white {
        height: 35px;
        @include media(laptop) {
          height: 35px;
          margin-top: 15px;
          margin-bottom: 0;
        }
        @include media(minilaptop) {
          height: 35px;
        }
      }
    }
    .box_form {
      color: white;
      font-family: Montserrat;
      display: flex;
      flex-direction: column;
      // justify-content: start;
      align-items: center;
      @include media(laptop) {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        // justify-content: flex-start;
      }
      @include media(minilaptop) {
        flex-direction: column;
        align-items: center;
      }
      .box_title_paragraph {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media(laptop) {
          width: 60%;
          margin-top: 150px;
        }
        @include media(minilaptop) {
          margin-top: 0px;
        }
        h1 {
          font-weight: 800;
          line-height: 1.4;
          margin-bottom: 10px;
          @include media(laptop) {
            font-size: 2.2em;
            margin-bottom: 30px;
          }
          @include media(minilaptop) {
            font-size: 1.2em;
          }
        }
        p {
          font-weight: 400;
          line-height: 1.4;
          margin-bottom: 20px;
          @include media(laptop) {
            font-size: 1em;
          }
          @include media(minilaptop) {
            font-size: 0.9em;
          }
        }
      }
      .form_payment {
        background: white;
        border-radius: 10px;
        padding: 20px 30px;
        width: 100%;
        @include media(tablet) {
          width: 450px;
        }
        @include media(laptop) {
          margin-left: 40px;
        }

        .certif-checkbox {
          display: flex;
          flex-direction: row;
          color: black;
          margin-top: 45px;
          font-size: 0.8em;

          div {
            flex: 0.2;
            display: flex;
            input {
              margin: auto;
            }
          }

          p {
            flex: 1;
            text-align: left;
            span {
              font-weight: 800;
            }
          }
        }

        .inputs {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          label {
            // color: rgba(0, 0, 0, 0.7);
            color: rgba(0, 0, 0, 0.568);
            font-size: 0.8em;
            margin-bottom: 6px;
            font-weight: 600;
          }
          .one-input {
            width: 100%;
            margin-bottom: 10px;
            height: 50px;
            padding-left: 10px;
            font-family: Montserrat;
            font-weight: 500;
            border: 1px solid rgb(153, 153, 153);
            border-radius: 3px;
          }
          .one-input::placeholder {
            color: rgba(128, 128, 128, 0.432);
          }
          .one-input-error {
            border: 2px solid $error;
            width: 100%;
            margin-bottom: 10px;
            height: 50px;
            padding-left: 10px;
            font-family: Montserrat;
            font-weight: 500;
            border-radius: 3px;
          }

          .one-input-success {
            border: 2px solid $primary;
            width: 100%;
            margin-bottom: 10px;
            height: 50px;
            padding-left: 10px;
            font-family: Montserrat;
            font-weight: 500;
            border-radius: 3px;
          }

          .radio-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
            padding: 10px 0;
            font-family: Montserrat;
            font-weight: 500;

            label {
              margin-right: 5px;
            }
          }
        }
        .box_button_give {
          margin-top: 20px;
          .button_give {
            background: $primary;
            color: white;
            border: none;
            font-family: Montserrat;
            font-weight: 700;
            width: 100%;
            height: 50px;
            cursor: pointer;
            &:hover {
              background: $primary-dark;
            }
          }
        }
      }
    }
  }
}
