@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.container_global_responsive {
  margin: 0;
  @include media(desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header {
    display: flex;
    padding: 1em 1em 1.5em 1em;
    background-image: url("../../../assets/illustrations/header_background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include media(desktop) {
      width: 1400px;
    }
    .heading_left {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2em;
      @include media(laptop) {
        width: 50%;
        padding-top: 2.8em;
      }
      @include media(miniphone) {
        padding-top: 1em;
      }
      .subtitle_heading {
        font-family: "Montserrat";
        font-weight: 700;
        text-align: center;
        padding: 1em 0;
        @include media(laptop) {
          text-align: left;
          width: 100%;
          padding: 0;
        }
      }
      .subtext_heading {
        display: none;
        @include media(laptop) {
          display: initial;
          font-weight: 100;
          font-family: "Montserrat";
          margin-top: 1em;
        }
      }
      .red_separation {
        background-color: $primary;
        height: 8px;
        width: 100%;
        border-radius: 3rem;
        @include media(tablet) {
          width: 90%;
          margin: 0.5em;
        }
        @include media(laptop) {
          width: 100%;
          margin: 1em;
        }
      }
      .title_heading {
        font-family: "Montserrat";
        font-size: 2.7rem;
        font-weight: 800;
        letter-spacing: 0.1em;
        text-align: center;
        color: $primary;
        @include media(miniphone) {
          font-size: 2.7rem;
          padding: 0.4em 0;
        }
        @include media(laptop) {
          text-align: left;
          line-height: 1.7em;
        }
        @include media(minilaptop) {
          line-height: 1.1em;
        }

        .title_heading_bolded {
          color: $primary;
        }
      }
      .box_call_to_actions {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        @include media(tablet) {
          flex-direction: row;
        }
        @include media(laptop) {
          width: 100%;
          flex-direction: row;
          align-items: flex-start;
          justify-content: start;
          margin-top: 1em;
        }
        a:first-of-type{
          @include media(tablet) {
           margin-right: 1.5em;
          }
        }
        Button {
          margin-top: 1em;
          font-size: 1em;
          @include media(minilaptop) {
            max-width: 190px;
            font-size: 1em;
          }
        }
      }
    }
    .heading_right {
      display: none;
      @include media(laptop) {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        height: 600px;
        @include media(minilaptop) {
          height: 480px;
        }
      }
    }
  }
}
