@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

footer {
  background: $primary;
  width: 100%;
  padding: 50px 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  @include media(desktop) {
    width: 1400px;
  }
  @include media(laptop) {
    align-items: flex-start;
    text-align: left;
  }
  .logo_anf {
    height: 40px;
  }
  .all_links {
    @include media(laptop) {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }
    h5 {
      font-family: "Montserrat";
      font-weight: 800;
      font-size: 1.2em;
      margin-bottom: 10px;
      margin-top: 30px;
    }
    p {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 1em;
      line-height: 1.8;
      @include media(laptop) {
        font-size: 0.9em;
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
  }
  .box_dons {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.1em;
    width: 80%;
    margin: 30px 0;
    line-height: 1.8;
    @include media(laptop) {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 0.9em;
    }
    span {
      font-weight: 800;
      text-decoration: underline;
      cursor: pointer;
      padding-left: 5px;
    }
    .link-donations-bar {
      padding-right: 5px;
    }
  }
  .box_contact,
  .box_protection {
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 1.1em;
    line-height: 2.5;
    @include media(laptop) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    p {
      @include media(laptop) {
        font-size: 0.9em;
        margin: 0 20px;
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
}
