@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.container_forgetPassword {
  background: url("./../../../assets/illustrations/walpaper_connexion_ANF.png")
    no-repeat center / cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2em 0;
  @include media(tablet) {
    height: 75vh;
  }
  @include media(laptop) {
    height: 75vh;
  }
  @include media(minilaptop) {
    height: 75vh;
  }
  .box_forgetPassword {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    @include media(tablet) {
      padding: 2em;
    }
    @include media(minilaptop) {
      padding: 3em;
    }
    form {
      max-height: 450px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      padding: 2em;
      box-shadow: 0 9px 40px rgba(0, 0, 0, 0.137);
      @include media(miniphone) {
        max-height: 400px;
        max-width: 100%;
      }
      @include media(tablet) {
        max-height: 300px;
        max-width: 80%;
        padding: 2em;
      }
      @include media(laptop) {
        max-height: 310px;
        max-width: 60%;
        padding: 2em;
      }
      @include media(minilaptop) {
        max-height: 350px;
        max-width: 700px;
        padding: 2em;
      }
      h1 {
        font-family: Montserrat;
        font-weight: 800;
        font-size: 1.6em;
        color: $primary-dark;
        width: 100%;
        span {
          color: $primary-dark;
        }
        @include media(miniphone) {
          font-size: 1.5em;
        }
        @include media(tablet) {
          font-size: 1.6em;
        }
        @include media(laptop) {
          font-size: 1.6em;
        }
      }
      p {
        font-family: Montserrat;
        color: $primary;
        margin: 1em 0;
        font-size: 1em;
        line-height: 1.4em;
        font-style: italic;
        @include media(miniphone) {
          font-size: 0.9em;
        }
        @include media(tablet) {
          font-size: 0.9em;
        }
        @include media(laptop) {
          font-size: 0.8em;
        }
        .email_success {
          color: $primary;
          font-weight: 900;
        }
      }
      .notif {
        font-size: 0.9em;
        margin-right: 115px;
      }
      .logo_check {
        margin-right: 0.5em;
        height: 15px;
        width: 15px;
      }
      .text_reset {
        font-size: 1em;
        font-style: none;
        font-weight: 400;
      }
      Input {
        @include media(miniphone) {
          height: 110px;
          font-size: 0.9em;
        }
        @include media(tablet) {
          min-height: 50px;
          max-height: 60px;
          margin: 1em;
        }
        @include media(laptop) {
          max-height: 50px;
          border-radius: 3px;
          margin: 1em;
        }
        @include media(minilaptop) {
          max-height: 50px;
        }
      }
      .box_forgetPassword_btns {
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include media(tablet) {
          height: 30%;
          flex-direction: row;
          justify-content: space-between;
        }
        @include media(minilaptop) {
          margin-top: 1em;
        }
        .btn {
          height: 50px;
          width: 100%;
          margin: 0.5em 0;
          outline: none;
          font-size: 1em;
          font-family: Montserrat;
          cursor: pointer;
          @include media(miniphone) {
            max-height: 60px;
            font-size: 0.9em;
          }
          @include media(tablet) {
            max-height: 50px;
            max-width: 100%;
          }
          @include media(laptop) {
            height: 50px;
            width: 100%;
          }
        }
        .btn_send {
          background-color: $primary;
          color: white;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 17px;
            margin-left: 1em;
          }
        }
        .btn_disabled {
          background-color: rgb(189, 187, 187);
          color: white;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: not-allowed;
          img {
            height: 17px;
            margin-left: 1em;
          }
        }
      }
    }
  }
}
