@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container-global {
  padding-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include media(laptop) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    height: 100%;
  }
  @include media(desktop) {
    width: 1400px;
  }
  .container-img {
    height: 240px;
    background-image: url("../../../assets/illustrations/People.jpeg");
    background-position: center;
    background-size: cover;
    width: 100%;
    @include media(tablet) {
      height: 400px;
    }
    @include media(laptop) {
      width: 50%;
    }
  }
  .explanation {
    margin-top: -5px;
    padding: 30px;
    background: $primary;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(tablet) {
      padding: 70px 0;
    }
    @include media(laptop) {
      margin-top: initial;
      align-items: flex-start;
      width: 50%;
      height: 400px;
      padding: 50px;
    }
    h3 {
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 2em;
      width: 60%;
      margin-bottom: 10px;
      @include media(laptop) {
        width: initial;
      }
      @include media(minilaptop) {
        font-size: 1.3em;
      }
    }
    p {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 0.8em;
      width: 85%;
      line-height: 2;
      @include media(laptop) {
        width: initial;
      }
      @include media(minilaptop) {
        font-size: 0.7em;
      }
    }
  }
}
