@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_mission {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include media(desktop) {
    width: 1400px;
  }
  .title_mission {
    font-size: 1.8em;
    font-family: "Montserrat";
    font-weight: 800;
    color: $primary;
    text-align: center;
    margin-top: 3em;
    width: 90%;
    span {
      color: $primary;
    }
  }
  .description_mission {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1em;
    color: rgb(175, 175, 175);
    margin-top: 1em;
    text-align: center;
    line-height: 2.2em;
    width: 65%;
    @include media(laptop) {
      font-size: 0.9em;
    }
  }
  .box_mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1em;
    .box_side_left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 0 1em;
      @include media(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      .box_involve {
        height: 250px;
        margin: 0.8em 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1em;
        cursor: pointer;
        @include media(tablet) {
          width: 45%;
          margin: 0.5em;
        }
        @include media(minilaptop) {
          width: 40%;
          margin: 0.5em;
        }
        @include media(laptop) {
          height: 250px;
          width: 35%;
          margin: 0.5em;
        }
        .involve_text {
          font-size: 1.5em;
          font-family: "Montserrat";
          font-weight: 800;
          color: white;
          text-align: right;
        }
      }
    }
    .box_side_right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        height: 250px;
        margin: 0.8em 0;
      }
    }
  }
}
