@import "./../../../sass/brands-colors.scss";
@import "./../../../sass/brands_fonts.scss";

.box_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  &_radio {
    display: flex;
    align-items: flex-start;
    width: 100%;
    input {
      margin-top: 0.2em;
    }
  }
  .box_label {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .input {
    padding: 0 12px;
    margin-top: 6px;
    border-radius: 5px;
    font-family: $brand-font-secondary;
    font-weight: 600;
    background-size: 20px;
    background-repeat: no-repeat;
    border: 1px solid rgba(189, 189, 189, 0.692);
    &::placeholder {
      color: rgba(128, 128, 128, 0.432);
    }
    &--rounded {
      border-radius: 30px;
    }
    &--squared {
      border-radius: 0;
    }
    &--icon-left {
      background-position: 12px center;
      padding: 0 12px 0 49px;
    }
    &--icon-right {
      background-position: calc(100% - 12px) center;
    }
    &::placeholder {
      color: rgba(128, 128, 128, 0.432);
    }
  }
}
