@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.container_global {
  text-align: center;
  width: 100%;
  @include media(laptop) {
    text-align: left;
  }
  @include media(minilaptop) {
    text-align: center;
  }
  .container_title_description {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      color: $primary;
      font-family: Montserrat;
      font-weight: 900;
      font-size: 1.3em;
      width: 90%;
      margin-bottom: 10px;
      line-height: 1.4;
      @include media(tablet) {
        width: 60%;
      }
      @include media(laptop) {
        font-size: 1.6em;
      }
      span {
        color: $primary;
      }
    }
    .shortDescription {
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat;
      font-weight: 500;
      width: 80%;
      line-height: 1.4;
      @include media(tablet) {
        width: 45%;
      }
      @include media(minilaptop) {
        width: 35%;
      }
      @include media(laptop) {
        width: 60%;
      }
    }
  }
  .bg_image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    @include media(tablet) {
      height: 430px;
    }
    @include media(laptop) {
      height: 90vh;
    }
    @include media(minilaptop) {
      height: 500px;
    }
  }
  .box_description {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titleLongDescription {
      font-family: Montserrat;
      font-weight: 900;
      font-size: 1.2em;
      width: 90%;
      line-height: 1.4;
      margin-bottom: 20px;
      @include media(tablet) {
        width: 70%;
      }
      @include media(laptop) {
        width: 60%;
        font-size: 1.5em;
      }
      @include media(minilaptop) {
        font-size: 1.4em;
      }
    }
    .longDescription {
      color: rgba(0, 0, 0, 0.5);
      font-family: Montserrat;
      font-weight: 500;
      font-size: 0.9em;
      width: 90%;
      line-height: 1.4;
      @include media(tablet) {
        width: 70%;
      }
      @include media(laptop) {
        width: 60%;
      }
    }
  }
  .container_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    background-repeat: no-repeat;
    background-size: cover;
    .img {
      background-color: rgba(128, 128, 128, 0.397);
      padding: 150px;
      @include media(tablet) {
        padding: 200px;
      }
      @include media(laptop) {
        padding: 300px;
      }
      @include media(minilaptop) {
        padding: 200px;
      }
    }
  }
  .box_constat {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(laptop) {
      width: 60%;
      align-items: flex-start;
    }
    @include media(minilaptop) {
      align-items: center;
    }
    .titleConstat {
      font-family: Montserrat;
      font-weight: 900;
      font-size: 1.2em;
      line-height: 1.4;
      margin: 25px 0 10px 0;
      @include media(laptop) {
        width: 60%;
        font-size: 1.5em;
      }
      @include media(minilaptop) {
        font-size: 1.4em;
      }
    }
    .container_subjectConstat {
      .subjectConstat {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        @include media(laptop) {
          align-items: baseline;
          flex-direction: row;
        }
        @include media(minilaptop) {
          flex-direction: column;
          align-items: center;
        }
        .red_square {
          margin-right: 15px;
        }
        .container_title_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include media(laptop) {
            align-items: flex-start;
          }
          @include media(minilaptop) {
            flex-direction: column;
            align-items: center;
          }
          .titleSubjectConstat {
            margin-bottom: 10px;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 1em;
            @include media(laptop) {
              font-size: 1.1em;
            }
          }
          .contentSubjectConstat {
            color: rgba(0, 0, 0, 0.5);
            font-family: Montserrat;
            font-weight: 500;
            font-size: 0.9em;
            width: 90%;
            line-height: 1.4;
          }
        }
      }
    }
  }
  .box_proposition {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(laptop) {
      width: 60%;
    }
    @include media(minilaptop) {
      align-items: center;
    }
    .titleProposition {
      font-family: Montserrat;
      font-weight: 900;
      font-size: 1.2em;
      line-height: 1.4;
      @include media(laptop) {
        width: 60%;
        font-size: 1.5em;
      }
      @include media(minilaptop) {
        font-size: 1.4em;
      }
    }
    .container_objectifs {
      .objectifs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0 0 0;
        @include media(laptop) {
          align-items: baseline;
          flex-direction: row;
        }
        @include media(minilaptop) {
          flex-direction: column;
          align-items: center;
        }
        .blue_square {
          margin-right: 15px;
        }
        .container_title_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include media(laptop) {
            align-items: flex-start;
          }
          @include media(minilaptop) {
            flex-direction: column;
            align-items: center;
          }
          .titleObjectif {
            margin-bottom: 10px;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 1em;
            width: 80%;
            @include media(laptop) {
              font-size: 1.1em;
              width: 100%;
            }
          }
          .descriptionObjectif {
            color: rgba(0, 0, 0, 0.5);
            font-family: Montserrat;
            font-weight: 500;
            font-size: 0.9em;
            width: 90%;
            line-height: 1.4;
          }
        }
      }
    }
    .container_arguments {
      .arguments {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0 0 0;
        @include media(laptop) {
          align-items: flex-start;
          flex-direction: row;
        }
        @include media(minilaptop) {
          flex-direction: column;
          align-items: center;
        }
        .arrow {
          margin-right: 15px;
        }
        .container_title_content {
          display: flex;
          flex-direction: column;
          align-items: center;
          @include media(laptop) {
            align-items: flex-start;
          }
          @include media(minilaptop) {
            flex-direction: column;
            align-items: center;
          }
          .titleArgument {
            margin-bottom: 10px;
            font-family: Montserrat;
            font-weight: 700;
            font-size: 1em;
            width: 80%;
            @include media(laptop) {
              font-size: 1.1em;
              width: 100%;
            }
          }
          .descriptionArgument {
            color: rgba(0, 0, 0, 0.5);
            font-family: Montserrat;
            font-weight: 500;
            font-size: 0.9em;
            width: 90%;
            line-height: 1.4;
          }
        }
      }
    }
    .container_citation {
      background: $primary;
      color: white;
      margin: 50px 20px;
      padding: 20px;
      text-align: left;

      @include media(laptop) {
        width: 60%;
      }

      .citation {
        font-family: Montserrat;
        font-weight: 500;
        line-height: 1.6;
        margin-bottom: 20px;
        @include media(laptop) {
          font-size: 0.8em;
          margin-bottom: 40px;
          line-height: 2;
        }
      }
      .author {
        font-family: Montserrat;
        font-weight: 700;
        line-height: 1.6;
        @include media(laptop) {
          font-size: 0.8em;
        }
      }
    }
  }
}
