@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_involved {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 3em;
  @include media(desktop) {
    width: 1400px;
  }
  .title_involved {
    font-size: 1.8em;
    font-family: "Montserrat";
    font-weight: 800;
    color: $primary;
    text-align: center;
    margin-top: 3em;
    span {
      color: $primary;
    }
  }
  .description_involved {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 1em;
    color: rgb(175, 175, 175);
    margin-top: 1em;
    text-align: center;
    line-height: 2.2em;
    width: 80%;
    @include media(laptop) {
      font-size: 0.9em;
      width: 70%;
    }
  }
  .box_involved {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 1em;
    @include media(miniphone) {
      padding: 0;
    }
    .box_link_redirectTo {
      display: flex;
      align-items: center;
      justify-content: center;
      @include media(tablet) {
        justify-content: flex-start;
        padding-left: 3em;
      }
      @include media(minilaptop) {
        justify-content: flex-start;
        padding-left: 6.2em;
      }
      @include media(laptop) {
        padding-left: 8em;
        padding-bottom: 1em;
        width: 88%;
      }
      .link_program {
        font-family: "Montserrat";
        font-weight: 900;
        font-size: 1.1em;
        color: black;
        margin-top: 1em;
        cursor: pointer;
        @include media(tablet) {
          text-align: left;
        }
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .box_side_left {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      padding: 0 1em;
      @include media(tablet) {
        flex-direction: row;
        flex-wrap: wrap;
      }
      a {
        height: 250px;
        margin: 0.8em 0;
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
        align-items: flex-end;
        padding: 0;
        cursor: pointer;
        @include media(tablet) {
          width: 100%;
          margin: 0.5em;
        }
        @include media(minilaptop) {
          width: 100%;
          margin: 0.5em;
        }
        @include media(laptop) {
          height: 250px;
          width: 100%;
          margin: 0.5em;
        }
      }
      .box_involve {
        height: 250px;
        margin: 0.8em 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 1em;
        cursor: pointer;
        @include media(tablet) {
          width: 45%;
          margin: 0.5em;
        }
        @include media(minilaptop) {
          width: 40%;
          margin: 0.5em;
        }
        @include media(laptop) {
          height: 250px;
          width: 35%;
          margin: 0.5em;
        }
        .involve_text {
          font-size: 1.5em;
          font-family: "Montserrat";
          font-weight: 800;
          color: white;
          text-align: right;
        }
      }
    }
    .box_side_right {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      img {
        height: 250px;
        margin: 0.8em 0;
      }
    }
  }
}
