@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_responsive {
  display: flex;
  justify-content: center;
  .container_join {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("../../../assets/illustrations/background_boat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    @include media(desktop) {
      width: 1400px;
    }
    .sub_container {
      height: 100%;
      display: flex;
      flex-direction: column;

      @include media(laptop) {
        flex-direction: row;
        padding: 2em;
      }
      @include media(minilaptop) {
        flex-direction: column;
      }

      .box_text_action {
        height: 100%;
        width: 100%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include media(laptop) {
          width: 50%;
          padding: 0 2em;
          flex-direction: column;
          text-align: left;
          margin-top: 3em;
        }

        @include media(minilaptop) {
          padding: 0 2em;
          width: 100%;
          text-align: center;
        }
        p {
          line-height: 1.8em;
          @include media(laptop) {
            width: 100%;
          }
          @include media(minilaptop) {
            width: 100%;
          }
        }
      }

      .download_join {
        display: flex;
        align-items: center;
        margin: 20px 0 0 0;
        color: $basic-light;
        font-family: Montserrat;
        font-weight: 300;
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-underline-offset: 0.2em;
        cursor: pointer;
        @include media(tablet) {
          font-size: 1.1em;
          width: 100%;
        }
        @include media(laptop) {
          text-align: left;
        }
        @include media(miniphone) {
          font-size: 0.9em;
        }
        img {
          margin: 10.5px 8px 0 0;
          width: 22px;
          height: 22px;

          @include media(miniphone) {
            margin: -16px 1px 0 0;
            width: 15px;
            height: 15px;
          }
          @include media(smartphone) {
            margin: -16px 1px 0 0;
            width: 20px;
            height: 20px;
          }
        }
      }

      .box_form_join {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        @include media(laptop) {
          width: 50%;
          flex-direction: column;
        }
        @include media(minilaptop) {
          width: 100%;
        }
        form {
          min-height: 830px;
          width: 500px;
          border-radius: 1rem;

          .box_form_gender {
            .box_radios_gender {
              width: 100%;
              label {
                font-weight: 400;
              }
            }
          }
          .box_inputs_sub_infos {
            display: flex;
            justify-content: space-between;
            width: 100%;
            Input {
              max-width: 95%;
            }
          }
          .box_inputs {
            display: flex;
            flex-direction: column;
            width: 100%;
          }
          .box_general_conditions {
            padding: 1em 0em;
            text-align: left;
            width: 100%;
            Input {
              background-color: green;
            }
            span {
              color: rgb(172, 172, 172);
              font-weight: 600;
              font-family: Montserrat;
              font-size: 0.8em;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
