@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  position: absolute;
  top: 100px;
  animation: notificationMobile 3s;
  animation-timing-function: 1s linear;
  @include media(laptop) {
    position: absolute;
    top: 70px;
    right: 20px;
    align-items: flex-end;
    animation: notificationLaptop 3s;
    animation-timing-function: 1s linear;
  }
  .box_notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    border-radius: 5px;
    width: 350px;
    box-shadow: 0 9px 40px rgba(0, 0, 0, 0.219);
    background: white;
    @include media(miniphone) {
      width: 280px;
    }
    .color {
      height: 80px;
      width: 10px;
      border-radius: 5px 0 0 5px;
    }
    .container_cross {
      padding: 0 0.7em;
      width: 40px;
    }
    .container_msg {
      padding: 0 0.5em;
      font-family: Montserrat;
      width: 250px;
      h2 {
        font-weight: 700;
        font-size: 0.9rem;
        color: rgba(0, 0, 0, 0.8);
        @include media(miniphone) {
          font-size: 0.7rem;
        }
      }
      p {
        font-weight: 500;
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.603);
        @include media(miniphone) {
          font-size: 0.6rem;
        }
      }
    }
    .container_close {
      border-left: 1px solid rgba(0, 0, 0, 0.25);
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 7px;
      cursor: pointer;
      width: 70px;
      .title_close {
        font-family: Montserrat;
        color: rgba(0, 0, 0, 0.603);
        font-size: 0.7rem;
        font-weight: 600;
        @include media(miniphone) {
          font-size: 0.6rem;
        }
      }
    }
  }
}

@keyframes notificationLaptop {
  0% {
    right: -500px;
  }
  25% {
    right: 20px;
  }
  50% {
    right: 20px;
  }
  90% {
    right: 20px;
  }
  100% {
    right: -500px;
  }
}

@keyframes notificationMobile {
  0% {
    top: -500px;
  }
  25% {
    top: 60px;
  }
  50% {
    top: 60px;
  }
  90% {
    top: 60px;
  }
  100% {
    top: -500px;
  }
}
