@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_timeline {
  height: 100px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .box_timeline_steps {
    display: flex;
    align-items: center;
    .step {
      height: 60px;
      width: 60px;
      border-radius: 4rem;
      margin: 0 1em;
      z-index: 9999;
    }
    .complete {
      background-color: white;
      border: 3px solid white;
      background-image: url("../../../assets/icons/checked.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      h3 {
        font-weight: 800;
      }
    }
    .incomplete {
      background-color: white;
      border: 3px solid white;
      background-image: url("../../../assets/icons/hourglass.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      // animation: incomplete 1s infinite;
      h3 {
        font-weight: 800;
      }
    }
    .not_focused {
      background-color: #9f7461;
      border: 3px dashed white;
    }
    h3 {
      color: white;
      font-weight: 200;
      line-height: 1.4;
      margin-bottom: 20px;
      margin-top: 60px;
      text-align: center;
      @include media(laptop) {
        font-size: 1em;
      }
      @include media(minilaptop) {
        font-size: 0.9em;
      }
    }
  }
  .bar_timeline {
    height: 4px;
    width: 100%;
    background-color: white;
    position: relative;
    top: -30px;
    z-index: 1;
  }
}

@keyframes incomplete {
  from {
    transform: scale(1.2);
  }

  to {
    transform: scale(1.1);
  }
}
