@import "./../../../sass/brands-colors.scss";
@import "./../../../sass/brands_fonts.scss";
@import "./../../../sass/mixins.scss";

.container_legal_notices {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  margin-bottom: 3em;

  @include media(desktop) {
    width: 1400px;
    margin: auto;
  }

  h1 {
    font-size: 1.6em;
    line-height: 1.4;
    font-family: $brand-font-secondary;
    font-weight: 800;
    color: $basic-dark;
    text-align: center;
    margin-top: 1em;
    text-transform: uppercase;

    @include media(miniphone) {
      font-size: 1.4em;
    }

    @include media(tablet) {
      font-size: 1.8em;
    }

    @include media(minilaptop) {
      text-align: left;
      font-size: 2.1em;
      width: 85%;
    }

    @include media(laptop) {
      text-align: left;
      font-size: 2.1em;
      width: 85%;
    }
  }

  h2 {
    font-size: 1.4em;
    line-height: 1.4;
    font-family: $brand-font-secondary;
    font-weight: 800;
    color: $primary-dark;
    text-align: center;
    margin-top: 1em;
    text-transform: uppercase;

    @include media(miniphone) {
      font-size: 1.2em;
    }

    @include media(tablet) {
      text-align: center;
      margin-top: 2em;
      font-size: 1.6em;
    }

    @include media(minilaptop) {
      text-align: left;
      margin-top: 2em;
      font-size: 1.6em;
      width: 85%;
    }

    @include media(laptop) {
      text-align: left;
      margin-top: 2em;
      font-size: 1.6em;
      width: 85%;
    }
  }

  h3,
  h4 {
    font-size: 1.3em;
    line-height: 1.4;
    font-family: $brand-font-secondary;
    font-weight: 700;
    color: $primary;
    text-align: center;
    margin-top: 1em;

    @include media(miniphone) {
      font-size: 1.1em;
    }

    @include media(tablet) {
      text-align: center;
      margin-top: 2em;
    }

    @include media(minilaptop) {
      text-align: left;
      margin-top: 2em;
      width: 85%;
    }

    @include media(laptop) {
      text-align: left;
      margin-top: 2em;
      width: 85%;
    }
  }

  p {
    text-align: center;

    @include media(tablet) {
      text-align: center;
    }

    @include media(minilaptop) {
      text-align: left;
    }

    @include media(laptop) {
      text-align: left;
    }
  }

  p,
  ul,
  ol {
    font-size: 1em;
    line-height: 2.2em;
    font-family: $brand-font-secondary;
    font-weight: 400;
    color: #888888;
    margin-top: 1em;

    @include media(miniphone) {
      font-size: 0.9em;
    }

    @include media(tablet) {
      margin-top: 1.5em;
    }

    @include media(minilaptop) {
      margin-top: 1.5em;
      width: 85%;
    }

    @include media(laptop) {
      margin-top: 1.5em;
      width: 85%;
    }


  }

  ul,
  ol {
    padding-left: 3em;
    text-align: left;
  }

  ul {
    li {
      list-style: initial;
    }
  }

  a,.a {
    color: $primary;
    &-left{
      margin-left: 5px;
    }
    &-right{
      margin-right: 5px;
    }
    &-left-right{
      margin: 0 5px;
    }
  }
  .strong{
    &-left{
      margin-left: 5px;
    }
    &-right{
      margin-right: 5px;
    }
    &-left-right{
      margin: 0 5px;
    }
  }
}