@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_success {
  background-image: url("../../../assets/illustrations/arc-de-triomphe-flooted.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include media(miniphone) {
    height: 90vh;
  }
  @include media(tablet) {
    height: 84vh;
  }
  @include media(minilaptop) {
    height: 93vh;
  }
  .box_title_paragraph {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    height: 100%;
    width: 100%;
    @include media(laptop) {
      width: 100%;
    }
    @include media(minilaptop) {
      width: 100%;
      margin-top: 0px;
    }
    h1 {
      font-weight: 800;
      line-height: 1.4;
      margin-bottom: 30px;
      font-weight: 900;
      font-size: 2em;
      text-align: center;
      @include media(tablet) {
        font-size: 2.3em;
      }
      @include media(laptop) {
        font-size: 2.2em;
        margin-bottom: 30px;
      }
      @include media(minilaptop) {
        font-size: 2.5em;
      }
    }
    p {
      line-height: 1.4;
      margin-bottom: 30px;
      font-weight: 600;
      text-align: center;
      @include media(laptop) {
        font-size: 1em;
        width: 80%;
      }
      @include media(minilaptop) {
        font-size: 1.6em;
      }
    }
  }
  a {
    width: 100%;
    @include media(tablet) {
      width: 50%;
    }
    @include media(laptop) {
      width: 20%;
    }
  }
}
