@import "../../../sass/brands_fonts.scss";

.btn {
  border: none;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  font-family: $brand-font-primary-medium;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 2em;
  &--rounded {
    border-radius: 3rem;
  }
  &--squared {
    border-radius: 0rem;
  }
  span {
    display: flex;
    text-transform: uppercase;
    img {
      height: 20px;
      margin-left: 20px;
    }
  }
}
