@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.container_global {
  margin: 50px 0;
  @include media(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  @include media(laptop) {
    display: flex;
    justify-content: center;
  }
  @include media(desktop) {
    flex-wrap: wrap;
  }
  .container_all_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    @include media(tablet) {
      flex-direction: row;
    }
    .add_item {
      height: 250px;
      margin: 10px 20px;
      background-size: cover;
      background-repeat: no-repeat;
      cursor: pointer;
      background: $primary;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include media(tablet) {
        width: 350px;
        margin: 10px;
      }
      @include media(laptop) {
        width: 400px;
      }
      @include media(minilaptop) {
        width: 350px;
      }
      .icon_add {
        &:hover {
          transform: scale(1.3);
          transition-duration: 0.3s;
        }
      }
      h3 {
        font-size: 1.5em;
        font-family: "Montserrat";
        font-weight: 800;
        color: white;
        margin-top: 10px;
      }
    }
    .all_items {
      margin: 10px 20px;
      @include media(tablet) {
        margin: 10px;
      }
      .container_img {
        height: 250px;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        cursor: pointer;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        @include media(tablet) {
          width: 350px;
        }
        @include media(laptop) {
          width: 400px;
        }
        @include media(minilaptop) {
          width: 350px;
        }
        .title_item {
          font-size: 1.5em;
          font-family: "Montserrat";
          font-weight: 800;
          color: white;
          margin: 145px 15px 15px 0;
        }
      }
      .container_delete {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;
        border-radius: 0 0 10px 10px;
        box-shadow: 9px 9px 60px rgba(95, 95, 95, 0.3);
        .logo_delete {
          background: $primary;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
        }
        .logo_update {
          background: $primary;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
        }
      }
    }
  }
}
