@import "../brands_fonts.scss";
@import "../mixins.scss";

/* ******** BRAND TYPOGRAPHY ******** */

.title-heading {
  font-family: $brand-font-primary-bold;
  font-size: 3.4rem;
  letter-spacing: 0.1em;
  text-align: center;
  @include media(miniphone) {
    font-size: 2.7rem;
    padding: 0.4em 0;
    text-align: center;
  }
  @include media(laptop) {
    text-align: left;
    line-height: 1.3em;
  }
  @include media(minilaptop) {
    line-height: 1.1em;
  }
}

.title-1 {
  font-family: $brand-font-primary-bold;
  font-size: 2.1em;
  @include media(miniphone) {
    font-size: 2em;
  }
}

.title-2 {
  font-family: $brand-font-primary-bold;
  font-size: 1.8em;
  text-align: center;
}

.title-3 {
  font-family: $brand-font-primary-bold;
}

.subtitle {
  font-family: $brand-font-secondary;
  font-weight: 500;
}

.description {
  font-family: $brand-font-tertiary;
}

.label {
  font-family: $brand-font-secondary;
  color: rgba(0, 0, 0, 0.568);
  font-size: 1em;
  font-weight: 600;
}
