@import "../../../sass/brands-colors.scss";
@import "../../../sass/parts/_typography.scss";
@import "../../../sass/mixins.scss";

.container_global_responsive_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9999999999;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 9px 20px 60px rgba(0, 0, 0, 0.062);
    width: 100%;
    background: $primary;
    @include media(desktop) {
      width: 1400px;
    }
    .box_logo {
      cursor: pointer;
      img {
        height: 30px;
      }
    }
    .nav_burger {
      width: 30px;
      height: 24px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer;
      display: flex;
      z-index: 10000;
      @include media(laptop) {
        display: none;
      }
      span {
        display: block;
        position: absolute;
        height: 3.5px;
        width: 100%;
        background: $basic-light;
        border-radius: 8px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
        &:nth-child(1) {
          top: 0px;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          top: 10px;
        }
        &:nth-child(4) {
          top: 20px;
        }
      }
    }
    .nav_burger.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    .nav_burger.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    .nav_burger.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    .nav_burger.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%;
    }
    .overlay {
      height: 0;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: $primary;
      overflow-y: hidden;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media(laptop) {
        display: none;
      }
      .links {
        position: relative;
        top: 20%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include media(miniphone) {
          top: 15%;
        }
        a {
          padding: 20px 40px;
          font-size: 1.2em;
          color: $basic-light;
          display: block;
          font-family: "Montserrat";
          font-weight: 700;
          cursor: pointer;
          text-decoration: none;
          &:hover {
            color: $basic-light;
            text-decoration: underline;
          }
        }
        Button {
          span {
            font-size: 1em;
          }
        }
      }
    }
    .nav_links_desktop {
      display: none;
      @include media(laptop) {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      h2 {
        font-family: "Montserrat";
        font-weight: 700;
        font-size: 1.4em;
        margin-right: 2.3em;
        color: $basic-light;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
          color: $basic-light;
        }
        @include media(minilaptop) {
          font-size: 1.1em;
        }
      }
      .link_covid {
        color: $basic-light;
      }
      @include media(laptop) {
        font-size: 0.6em;
      }
    }
    .box_buttons {
      display: none;
      @include media(laptop) {
        display: flex;
        justify-content: space-around;
        width: 30%;
      }
      Button {
        @include media(minilaptop) {
          max-width: 150px;
          font-size: 0.8em;
        }
      }
    }
  }
}
