@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.container_global_additem {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .background_image {
    background-image: url("../../../assets/illustrations/background_additem.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include media(tablet) {
      padding: 2em 4em;
    }
    @include media(laptop) {
      padding: 1em 3em;
      text-align: left;
      align-items: flex-start;
    }
    @include media(minilaptop) {
      text-align: center;
      padding: 1em;
      align-items: center;
    }
    nav {
      display: flex;
      align-items: center;
      width: 100%;
      flex-direction: column;
      @include media(laptop) {
        flex-direction: row;
      }
      @include media(minilaptop) {
        flex-direction: column;
      }
      .box_logo {
        margin-bottom: 25px;
        height: 100%;
        .logo_white {
          height: 35px;
          @include media(tablet) {
            height: 45px;
            margin-top: 35px;
          }
          @include media(laptop) {
            height: 35px;
            margin-top: 15px;
          }
          @include media(minilaptop) {
            height: 35px;
          }
        }
      }
      .box_breadcrumb {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1em 0;
        @include media(laptop) {
          margin: 0;
        }
        @include media(minilaptop) {
          margin: 1em 0;
        }
      }
    }

    .box_form {
      height: 100%;
      width: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include media(laptop) {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
      }
      @include media(minilaptop) {
        flex-direction: column;
        align-items: center;
      }
      .box_for_text {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include media(laptop) {
          width: 60%;
          margin-top: 150px;
        }
        @include media(minilaptop) {
          margin: 0;
        }
        h2 {
          font-family: Montserrat;
          font-weight: 800;
          line-height: 1.4;
          font-size: 1.2em;
          margin-bottom: 10px;
          @include media(tablet) {
            font-size: 1.4em;
          }
          @include media(laptop) {
            font-size: 2.1em;
            margin-bottom: 30px;
          }
          @include media(minilaptop) {
            font-size: 1.4em;
          }
        }
        p {
          font-family: "Montserrat";
          font-weight: 400;
          line-height: 1.4;
          margin-bottom: 20px;
          @include media(laptop) {
            font-size: 1em;
          }
          @include media(minilaptop) {
            font-size: 0.9em;
          }
        }
      }
      .box_for_form {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include media(tablet) {
          width: 450px;
        }
        @include media(laptop) {
          margin-left: 40px;
        }
        h1 {
          font-size: 1.8em;
          font-family: "Montserrat";
          font-weight: 800;
          color: $primary;
          text-align: center;
          margin-top: 1em;
          width: 100%;
          span {
            color: $primary;
          }
        }

        form {
          display: flex;
          flex-direction: column;
          margin-bottom: 100px;
          margin-top: 50px;
          padding: 1em;
          width: 100%;
          background: white;
          border-radius: 10px;

          .form_text_center {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            padding: 1em;
            .input_file_label {
              height: 80px;
              width: 80px;
              background-color: $primary;
              border-radius: 50%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              margin-bottom: 15px;
              p {
                text-align: center;
                font-size: 2.5em;
                color: white;
                font-weight: 900;
                &:hover {
                  transform: scale(1.2);
                }
              }
              .input_file {
                height: 0px;
                width: 0px;
                opacity: 0;
                cursor: pointer;
              }
            }
          }
          .form_text_left {
            font-family: "Montserrat";
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            label {
              font-family: "Montserrat";
              color: rgba(0, 0, 0, 0.568);
              font-size: 1em;
              margin-bottom: 5px;
              font-weight: 600;
              text-align: left;
            }
            Input {
              font-family: "Montserrat";
              border: 1px solid rgb(201, 201, 201);
              margin: 1em 0;
              padding: 0 1em;
              font-size: 0.8em;
            }
            textarea {
              height: 90px;
              width: 100%;
              border: 1px solid rgb(201, 201, 201);
              margin: 1em 0 4em;
              border-radius: 5px;
              padding: 0.5em 1em;
              font-size: 0.8em;
              font-weight: 600;
              font-family: "Montserrat";
              resize: none;
              &::placeholder {
                color: rgba(128, 128, 128, 0.432);
              }
            }
          }
          button {
            background: $primary;
            border: none;
            color: white;
            font-weight: 700;
            font-size: 0.9em;
            font-family: "Montserrat";
            text-transform: uppercase;
            width: 100%;
            height: 50px;
            cursor: pointer;
            &:hover {
              background: $primary-dark;
            }
          }
        }
      }
    }
  }
}
