@import "../../../sass/mixins.scss";

.box_form_informations {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(laptop) {
    width: 50%;
    flex-direction: column;
  }
  @include media(minilaptop) {
    width: 100%;
  }
  form {
    min-height: 830px;
    width: 430px;
    border-radius: 1rem;
    .box_form_gender {
      .box_radios_gender {
        width: 100%;
        label {
          font-weight: 400;
        }
      }
    }
    .box_inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .box_general_conditions {
      padding: 1em 0em;
      text-align: left;
      width: 100%;
      Input {
        background-color: green;
      }
      span {
        color: rgb(172, 172, 172);
        font-weight: 600;
        font-family: Montserrat;
        font-size: 0.8em;
        width: 100%;
      }
    }
  }
}
