@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.content {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(desktop) {
    width: 1400px;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2 {
      font-size: 1.8em;
      font-family: "Montserrat";
      font-weight: 800;
      color: $primary;
      text-align: center;
      margin-top: 1em;
      width: 90%;
      span {
        color: $primary;
      }
    }
    p {
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 1em;
      color: rgb(175, 175, 175);
      text-align: center;
      line-height: 2.2em;
      width: 80%;
      margin-bottom: 1em;
      @include media(laptop) {
        font-size: 0.9em;
        width: 70%;
      }
    }
  }
  .box_link_redirectTo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include media(tablet) {
      align-items: center;
      padding-left: 3em;
    }
    @include media(laptop) {
      align-items: flex-start;
      padding-left: 8em;
      width: 88%;
    }
    @include media(minilaptop) {
      align-items: flex-start;
      padding-left: 6.2em;
    }
    .link_program {
      font-family: "Montserrat";
      font-weight: 900;
      font-size: 1.1em;
      color: black;
      margin-top: 1em;
      cursor: pointer;
      @include media(tablet) {
        text-align: left;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .download_program {
      display: flex;
      align-items: center;
      margin: 20px 0 0 0;
      color: $primary;
      font-family: Montserrat;
      font-weight: 800;
      text-decoration: underline;
      text-decoration-thickness: 4px;
      text-underline-offset: 0.2em;
      cursor: pointer;
      width: 80%;
      @include media(tablet) {
        font-size: 1.1em;
        width: 100%;
      }
      @include media(laptop) {
        text-align: left;
      }
      img {
        margin: 10.5px 8px 0 0;
        width: 27px;
        height: 27px;
      }
    }
  }
}
