@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_global_responsive {
  .container_words_action {
    width: 100%;
    height: 200px;
    background: $primary;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 0.9rem;
    @include media(miniphone) {
      font-size: 0.8rem;
    }
    @include media(tablet) {
      font-size: 1.1rem;
    }
    @include media(laptop) {
      font-size: 1.3rem;
    }
    @include media(desktop) {
      width: 1400px;
    }
  }
}
