@import "../../../sass/mixins.scss";
@import "../../../sass/brands-colors.scss";

.container_modal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500vh;
  background-color: rgba(0, 0, 0, 0.644);
  width: 100vw;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;

  .modal {
    width: 300px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    @include media(tablet) {
      width: 350px;
      padding: 15px 35px;
    }
    .container_close {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-bottom: 25px;
      span {
        font-size: 1.3em;
        font-weight: 800;
        font-family: Montserrat;
        cursor: pointer;
      }
    }
    .container_actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 95%;
      @include media(tablet) {
        width: initial;
      }
      h2 {
        font-size: 1em;
        font-weight: 600;
        font-family: Montserrat;
        margin-bottom: 30px;
      }
      .all_actions {
        display: flex;
        align-items: center;
        width: 95%;
        @include media(tablet) {
          width: initial;
        }
        .btn {
          height: 50px;
          width: 130px;
          font-family: "Montserrat";
          text-align: center;
          font-weight: 700;
          color: white;
          border-radius: 3rem;
          border: none;
          outline: none;
          margin: 0.6em;
          cursor: pointer;
        }
        .btn_cancel {
          background-color: $primary;
          box-shadow: 0px 3px 40px $primary;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: $primary-dark;
          }
        }
        .btn_option {
          background-color: $primary;
          box-shadow: 0px 3px 40px $primary;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            background: $primary-dark;
          }
        }
      }
    }
  }
}
