@import "../../../sass/mixins.scss";

.box_form_payment {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include media(laptop) {
    width: 50%;
    flex-direction: column;
  }
  @include media(minilaptop) {
    width: 100%;
  }
  form {
    min-height: 400px;
    width: 400px;
    border-radius: 1rem;
    @include media(miniphone) {
      width: 100%;
    }
    .box_card {
      position: relative;
      height: 200px;
      margin-top: -150px;
      display: flex;
      align-items: center;
      justify-content: center;
      .card {
        height: 210px;
        margin-top: 0px;
        @include media(miniphone) {
          height: 170px;
        }
      }
      .box_card_infos_recto {
        position: absolute;
        height: 200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 1em;
        @include media(miniphone) {
          padding: 0;
          align-items: center;
        }
        .box_card_number {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .card_number {
            font-weight: 500;
            font-family: Montserrat;
            font-size: 1.4em;
            margin-top: 1.2em;
            @include media(miniphone) {
              margin-top: 3em;
              font-size: 1.3em;
            }
          }
          @include media(miniphone) {
            height: 100%;
          }
        }
        .box_card_sub_infos {
          height: 15%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 0.2em;
          @include media(miniphone) {
            height: 90%;
            width: 280px;
            padding: 0;
          }
          @include media(tablet) {
            padding: 0 1em;
          }
          .card_holder {
            font-weight: 500;
            font-family: Montserrat;
            font-size: 0.8em;
            padding-left: 0.2em;
            @include media(miniphone) {
              font-size: 0.8em !important;
              margin-left: 1em;
            }
          }
          .card_expiration {
            font-weight: 500;
            font-family: Montserrat;
            font-size: 1em;
            margin-right: 0.4em;
            @include media(miniphone) {
              font-size: 0.8em !important;
              margin-right: 1em;
            }
          }
        }
      }
      .box_card_infos_verso {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .card_validation_code {
          position: absolute;
          right: 40px;
          top: 85px;
          font-weight: 700;
          font-family: Montserrat;
          color: black;
        }
      }
    }
    .box_inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .box_general_conditions {
      padding: 1em 0em;
      text-align: left;
      width: 100%;
      Input {
        background-color: green;
      }
      span {
        color: rgb(172, 172, 172);
        font-weight: 600;
        font-family: Montserrat;
        font-size: 0.8em;
        width: 100%;
      }
    }
  }
}
