@import "../../../sass/brands-colors.scss";
@import "../../../sass/mixins.scss";

.container_social_networks {
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
  color: white;
  width: 100%;
  margin-top: -5px;
  @include media(tablet) {
    height: 100px;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 4em;
  }
  @include media(desktop) {
    width: 1400px;
  }
  .heading_social_networks {
    display: flex;
    align-items: center;
    img {
      height: 28px;
      margin-right: 1em;
      @include media(tablet) {
        height: 20px;
        margin-right: 1em;
      }
      @include media(laptop) {
        height: 20px;
      }
    }
    .subtitle_heading {
      font-weight: 900;
      font-family: "Montserrat";
      font-size: 1em;
      text-align: center;
      @include media(tablet) {
        font-size: 0.7em;
      }
      @include media(laptop) {
        font-size: 1em;
      }
    }
  }
  .box_social_networks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @include media(tablet) {
      flex-direction: row;
    }
    @include media(tablet) {
      padding-left: 1em;
    }
    .box_side_left {
      display: flex;
      align-items: center;
      margin: 2em 0;
      img {
        height: 60px;
        margin: 0em 1em;
        @include media(tablet) {
          height: 40px;
        }
        @include media(laptop) {
          height: 40px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
    .box_side_right {
      display: flex;
      align-items: center;
      img {
        height: 60px;
        margin: 0em 1em;
        @include media(tablet) {
          height: 40px;
        }
        @include media(laptop) {
          height: 40px;
        }
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}
